@model List<BookGenres>
@if (TempData["success"] != null)
{
	<h2>@TempData["success"]</h2>
}

<div class="container">

	<div class="row pt-3 pb-4"
		<div>
			<h1>Kitap Türleri</h1>
		</div>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Kitap Türü
				</th>
				<th>
				</th>
				<th>
				</th>
			</tr>
		</thead>

		<tbody>
			@{
				int count = 0;
			}

			@foreach (var genres in Model)
			{
				<tr>
					
					
					<td>@{count++;}@count </td>
					
					<td>@genres.BookGenreName</td>
					<td>
						<a asp-controller="BookGenres" asp-action="Update" asp-route-BookGenreId="@genres.BookGenreId" class="btn btn-success" style="width:250px">Güncelle</a>


					</td>
					<td>
						<a asp-controller="BookGenres" asp-action="Delete" asp-route-BookGenreId="@genres.BookGenreId" type="button" class="btn btn-danger" style="width:250px">Sil</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="BookGenres" asp-action="Add" class="btn btn-lg btn-primary" type="button">
				Yeni Kitap Türü Oluştur
			</a>
		</div>
	</div>


</div>